@charset "UTF-8";

*  {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(to bottom, rgba(152, 174, 180, 1), rgba(113, 126, 128, 1), rgba(210, 210, 206, 1));
    background-repeat: no-repeat;
    height: 100vh;
}

div.login {
    background: linear-gradient(to bottom, rgba(210, 210, 206, 1), rgba(152, 174, 180, 1), rgba(98, 122, 126, 1));
    background-repeat: no-repeat;
}

div.cadastro {
    background: linear-gradient(to bottom, rgba(210, 210, 206, 1), rgba(152, 174, 180, 1), rgba(98, 122, 126, 1));
    background-repeat: no-repeat;
}

div.elipse_titulo {
    background: linear-gradient(to bottom, rgba(210, 210, 206, 1), rgba(152, 174, 180, 1), rgba(152, 174, 180, 1));
}
